* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.page_header {
    min-height: 10vh;
    display: grid;
    place-items: center;
    background-color: aqua;
}

body {
    display: grid;
    min-height: 80vh;
   
}

.page_main {

    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: honeydew;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-bottom: 10%;


}




#image_1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    margin: 5%;
}

#image_2 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); ;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10%;
    padding-right: 10%;
    padding-left: 10%;


}

h3 {
    place-self: center;
    margin: 5%;
    padding-left: 25%;
    
}

h2 { 
    display: grid;
    place-items: center;

    
}





#p_page {
    display: grid;
    align-self: start;
    font-size: small;
    align-self: start;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
   
       
    }
    
        
        



#p_page1 {
    display: grid;
    align-self: start;
    font-size: medium;
    align-self: start;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-left: 10%;
    padding-right: 10%; 
}





footer {
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
    background-color: aqua;
}

.products {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
    background-color: sandybrown;

}

.mother_cow {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-right: 5%;
}

.baby_cow {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-left: 5%;
}

@media screen and (max-width: 400px){
    #p_page{
        display: none;
    }
    
}
